<?xml version="1.0"?>

<launch>
      <include file="$(find perception)/launch/detect_and_classify_signs.launch" />
      <include file="$(find perception)/launch/display_detection_result.launch" />

      <include file="$(find perception)/launch/sign_pose_estimation.launch" />
      <include file="$(find perception)/launch/display_sign_pose_estimation.launch" />
</launch>